<component name="ArtifactManager">
  <artifact type="exploded-war" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="com.gibbons.server" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/WebContent/META-INF/MANIFEST.MF" />
    </root>
  </artifact>
</component>